<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Database</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    <script type="text/javascript" src="../static/javascript.js"></script>
    <div class="Base">
        <form action='login' method='POST'>
            <input type='text' name='email' id='email' placeholder='email' /><br>
            <input type='password' name='password' id='password' placeholder='password' /><br>
            <input type='text' name='tabelnumber' id='tabelnumber' placeholder='Tabelnumber' /><br>
            <input type='submit' name='submit' />
        </form>

    </div>
</body>

</html>